.button{
  height: 30px;
  width: 30px;
  justify-self: center;
}

.top_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding-top: 30px;
  padding-left: 10px;


}

.animal_image{
  width: 160px;
  height: 160px;
  border-radius: 228px;
  align-self: center;
  margin-top: 30px;

}
.bottom_container{
  width: 90%;
  border-radius: 20px;
  margin-top: 0;
  height: 600px;
  align-self: center;

}
.global_container{
background-color: white;
  height: 100%;

}

.bottom_container{
  padding: 20px;
}

.name_text{
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
  align-self: center;

}

.other_info_container{
  background: #EDEDED;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;

}

.other_info_text{
  background: #FFD5B0;
  border-radius: 10px;
  color: black;
  padding: 9px;
  font-size: 14px;
}

.main_info_text{
  color: #7C7C7C;
  font-size: 16px;
  margin-bottom: 15px;
}

.main_info_text_field{
  color: #000;
  font-size: 16px;
  margin-bottom: 15px;
}

.main_info_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.additional_info_text{
  color: #000;
  font-size: 15px;
  margin-bottom: 20px;
}