.background{
  width: 100%;
  height: 100%;

  background: #FFFFFF;
  display: flex;
  align-items: center;
}
.logo{
  position: relative;
  width: 100%;
  height: 206px;
  left: 0px;
  top: 152px;
  margin-bottom: 190px;
}
.text{
  position: relative;
  width: 295px;
  margin-bottom: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #FF9D01;
}
.button{
  position: relative;
  width: 347px;
  height: 50px;
  background: #FF9D01;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}
.input{
  position: relative;
  min-width: 346px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #ADADAD;
  margin-bottom: 50px;
  border-bottom-width: 2px;
  border-bottom-color: #FF9D01;
}

.button_text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
}